@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* reset */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

/* removing the underline link */
a {
    text-decoration:none;
}

p {
    margin:0.75rem 0;
}

/* Utility Classes */
.text-primary{
    color:#93cb52;
    
}
.container{
    max-width:1100px;
    /* align in the middle */
    margin:auto;
    padding:0 2rem;
    overflow: hidden;
}
.text-center{
    text-align:center;
}
.bg-light{
    background: #f4f4f4;
    color:#333;
    
}
.bg-dark{
    background: #333;
    color:#f4f4f4;

}
.bg-primary{
    background:#93cb52;
    color:white;
}

.l-heading{
    font-size:4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.m-heading{
    font-size:2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.py-1{
    padding:1.5rem 0;
}
.py-2{
    padding:2rem 0;
}
.py-3{
    padding:3rem 0;
}

.p-1{
    padding:1.5rem;
}
.p-2{
    padding:2rem;
}
.p-3{
    padding:3rem;
}

.btn{
    /* we display inline-block in order to use width */
    display:inline-block;
    color:white;
    background:#93cb52;
    padding:0.5rem 2rem;
    border:none;
    border-radius: 5px;
}

.btn:hover{
    background:#7ab436;
}

.btn-dark{
    background:#333;
    color:#fff;
}

/* Navbar */
#navbar{
    /* by default it will put horizontally */
    display: flex;
    /* top:0 we want to stick, when we scroll should stick to the top */
    /* An element with position: sticky; is positioned based on the user's scroll position. */
    position:sticky;
    top:0;
    background:#333;
    color:white;
    /* need space between items */
    justify-content: space-between;
    /* The z-index property specifies the stack order of an element 
    (greater stack allways in the front of an element with lower stack).*/
    z-index:1;
    padding: 1rem;
}

#navbar ul{
    /* by default it will put horizontally */
    display:flex;
    /* to put the logo and the ul in the same level */
    align-items: center;
    /* removing the bullets */
   list-style: none;
}

#navbar ul li a{
    color:white;
    /* give space between the items */
    padding:0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}

/* Showcase */
#showcase{
    background: #333 url('../img/showcase.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* it will cover the viewport-height */
    height:100vh;
    color:white;

}

#showcase .showcase-content{
    /* Default horizontal */
    display:flex;
    /* wat to display in column */
    flex-direction: column;
    /* we need to center vertical and horizontal */
    text-align: center;
    justify-content: center;
    /* we need to add a height property in order to align items in the center */
    align-items: center;
    height:100%;
    padding:0 2rem;
    /* Overlay */
    /* it will cover everything */
    position: absolute; 
    /* start right in the edge */
    top:65px;
    left:0;
    right:0;
    bottom: 0;
    background-color:rgba(0,0,0,0.4);
}

/* Sectio: What  we do */
.items{
    display:flex;
    padding: 1rem;
}

#what .items .item{
    flex:1;
    text-align:center;
    padding: 1rem;

}

/* targe just the icon */
#what .items .item i{
    background:#93cb52;
    padding:1rem;
    border-radius:50%;
    margin-bottom: 1rem;

}


/* Section: Who We Are */
#who{
    display:flex;
}

#who div {
    flex:1;
}

#who .who-img{
    background:url('../img/people.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.list{
    margin:0.5rem 0;
    list-style: none;
}

.list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

/*  Clients */
#clients .items{
    display:flex;
}

#clients .items img{
    /* to use width */
    display: block;
    /* to be in the center */
    margin:auto;
    width: 60%;
}

/* Section Contact */
#contact{
    display:flex;
}

#contact .map , #contact .contact-form{
    /* Set equal the width */
    /* even */
    flex:1;
}


#contact .contact-form .form-group{
    margin:0.75rem;
    
}

/* it will put the label on top */
#contact .contact-form label{
    display:block;
}

#contact .contact-form input,  #contact .contact-form textarea {
    
    width:100%;
    padding:0.5rem
}

.contact-form input:focus{
    outline:none;
    border-color:#699350;
}

.is-required:after{
    content:'*';
    color:red;
    padding-left:2px;

}
